/* image-overlay needs to be a div that wraps your image */
div.image-overlay
{
    position: relative;
}

div.image-overlay::before
{
	/* set how dark you want the overlay to be */
    background: rgba(0,0,0,.2);
	bottom: 0;
	content: '';
	display: block;
	left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
